.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 5% 2% !important;
}

@media(max-width: 770px){
    .container{
        width: 100%;
    }
}